<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th th:fragment="links">
    <ul>
        <li><a th:href="'/?userId=' + ${userId} + '&name=' + ${name}">Information</a></li>
        <li><a th:href="'/nutritionStore?userId=' + ${userId} + '&name=' + ${name}">Nutrition Store</a></li>
        <li><a th:href="'/trickCenter?userId=' + ${userId} + '&name=' + ${name}">Trick Center</a></li>
        <li><a href="">Action History</a></li>
    </ul>
</th>
</body>
</html>