<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Club</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div th:insert="header.html :: links"></div>
<img src="/assets/greenfox.png" alt="Fox">
<br>
<div th:if="${name == null}">
    <p th:text="${error}"></p>
</div>
<div th:unless="${name == null}">
    <p th:text="'This is ' + ${myFox.getName()} + '. Currently living on ' + ${myFox.getFood()} + ' and ' + ${myFox.getDrink()} + '. He knows ' + (${myFox.getTricks().isEmpty()}?'0 tricks':${myFox.tricks.size()} + ' tricks.')"></p>
    <h1>Known tricks</h1>
    <div th:if="${myFox.getTricks().isEmpty() == true}">
        <p>You know no tricks yet. Go and learn some.</p>
    </div>
    <div th:unless="${myFox.getTricks().isEmpty() == true}">
        <ul th:each="trick:${myFox.getTricks()}">
            <li th:text="${trick.getDisplayValue()}"></li>
        </ul>
    </div>
</div>
</body>
</html>