<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Club</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div th:insert="header.html :: links"></div>
<img src="/assets/greenfox.png" alt="Fox">
<br>
<p th:text="'This is ' + ${myFox.getName()} + '. Currently living on ' + ${myFox.getFood()} + ' and ' + ${myFox.getDrink()} + '. He knows ' + (${myFox.hasZeroTricks()}?'0 tricks':${myFox.getTricks()})"></p>
<h1>Known tricks</h1>
<div th:if="${myFox.hasZeroTricks() == true}">
    <p>You know no tricks yet. Go and learn some.</p>
</div>
<div th:unless="${myFox.hasZeroTricks() == true}">
    <ul th:each="${myFox.getTricks()}">
        <li th:text="${myFox.getTricks()}"></li>
    </ul>
</div>
</body>
</html>