<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
<div th:insert="header.html :: links"></div>
<form action="/nutritionStore" method="post">
    <label for="food">Food</label>
    <select name="food" id="food">
        <option th:each="food:${food}" th:text="${food}"></option>
    </select>
    <label for="drink">Drink</label>
    <select name="drink" id="drink">
        <option th:each="drink:${drink}" th:text="${drink}"></option>
    </select>
    <button>Change</button>
</form>
</body>
</html>