<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
<div th:insert="header.html :: links"></div>
<form th:object="${myFox}" th:action="'/nutritionStore?userId=' + ${userId} + '&name=' + ${name}" method="post">
    <input type="hidden" th:value="*{id}" th:field="*{id}">
    <label for="food">Food</label>
    <select id="food" th:field="*{food}">
        <option th:each="food:${allFood}" th:text="${food}" th:value="${food}"></option>
    </select>
    <label for="drink">Drink</label>
    <select name="drink" id="drink" th:field="*{drink}">
        <option th:each="drink:${allDrink}" th:text="${drink}" th:value="${drink}"></option>
    </select>
    <button>Change</button>
</form>
</body>
</html>