<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>
<div th:insert="header.html :: links"></div>
<form th:action="'/trickCenter?userId=' + ${userId} + '&name=' + ${name}" method="post">
    <label for="trick">Tricks</label>
    <select name="trick" id="trick">
        <option th:each="trick:${trick}" th:text="${trick.displayValue}"></option>
    </select>
    <button>Learn</button>
</form>
</body>
</html>