html{
    background: white;
}

body{
    display: block;
    width: fit-content;
    background: white;
    padding: 40px;
    border: 20px solid lightgrey;
    border-left: 40px solid lightgrey;
    border-right: 40px solid lightgrey;
    object-position: center;
}

input{
    display: block;
    border:none;
    border-bottom: 2px solid lightgrey;
    padding-top: 20px;
}

header{
    font-size: x-large;
}

button{
    margin-top: 20px;
    background: lightseagreen;
    color: white;
    border: none;
    font-size: small;
    padding: 5px 15px;
}