<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Reddit</title>
</head>
<body>
<a href="/submit">Submit new post</a>
<h1 class="header text-center ">Trending posts</h1>
<table class="table table-borderless col-6">
    <tr th:each="post:${posts}">
        <td th:text="${post.getVotes()}"></td>
        <td><a th:href="@{/vote-up(id=${post.getId()})}">+</a></td>
        <td><a th:href="@{/vote-down(id=${post.getId()})}">-</a></td>
        <td><a th:href="@{${post.getUrl()}}" th:text="${post.getTitle()}"></a></td>
    </tr>
</table>
</body>
</html>