header {
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-family: Calibri, cursive;
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
    margin-bottom: 20px;
}

a {
    background: indianred;
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: Calibri, cursive;
    padding: 5px;
    border-radius: 5px;
}

form {
    font-family: Calibri, cursive;
    color: indianred;
    margin-top: 20px;
}

input {
    border: 2px solid indianred;
    outline: none;
}

button {
    background: indianred;
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: Calibri, cursive;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

th {
    background: dodgerblue;
    padding: 20px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    text-align: center;
    font-family: Calibri, cursive;
}