<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<h2>Edit Todo</h2>
<form th:object="${todo}" th:action="|/todo/${id}/edit|" method="post">
    <div>
        <label for="title">Todo Descripton</label>
        <input type="text" id="title" name="title" th:value="*{getTitle()}">
    </div>
    <div>
        <label for="urgent">Urgent</label>
        <input type="checkbox" name="urgent" id="urgent" th:checked="*{isUrgent()}">
    </div>
    <div>
        <label for="done">Done</label>
        <input type="checkbox" name="done" id="done" th:checked="*{isDone()}">
    </div>
    <button type="submit" class="btn-dark">Submit</button>
</form>
</body>
</html>