<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Average Stock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>My Shop</header>
<div class="buttons">
    <a href="/only-available">ONLY AVAILABLE</a>
    <a href="/cheapest-first">CHEAPEST FIRST</a>
    <a href="/contains-nike">CONTAINS NIKE</a>
    <a href="/average-stock">AVERAGE STOCK</a>
    <a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a>
</div>
<div class="searchbar">
    <label for="search">Search for:</label>
    <br>
    <input type="text" placeholder="...something like nike" id="search">
    <button>Search</button>
</div>
</body>
</html>