<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Average Stock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>My Shop</header>
<a href="/only-available">ONLY AVAILABLE</a>
<a href="/cheapest-first">CHEAPEST FIRST</a>
<a href="/contains-nike">CONTAINS NIKE</a>
<a href="/average-stock">AVERAGE STOCK</a>
<a href="">MOST EXPENSIVE AVAILABLE</a>
<h1 th:text="'Average stock: ' + ${averageStock}"></h1>
</body>
</html>