<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<h2>Edit Todo</h2>
<form th:object="${todoToEdit}" th:action="|/todo/${id}/edit|" method="post">
    <input type="hidden" th:text="*{id}">
    <label for="title">Todo Descripton</label><br>
    <input type="text" id="title" name="title" th:field="*{title}"><br>
    <label for="urgent">Urgent</label><br>
    <input type="checkbox" name="urgent" id="urgent" th:field="*{urgent}"><br>
    <label for="done">Done</label><br>
    <input type="checkbox" name="done" id="done" th:field="*{done}"><br>
    <select th:field="*{assignee.id}">
        <option th:each="assignee:${allAssignees}" th:text="${assignee.getName()}" th:value="${assignee.id}"></option>
    </select>
    <button type="submit" class="btn-dark">Submit</button>
</form>
</body>
</html>